@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@-webkit-keyframes nav-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes nav-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes hero-load {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes hero-load {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes about-subhead-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes about-subhead-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes about-content-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes about-content-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes project-cta-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes project-cta-load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes footer-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes footer-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  background-color: #EEF4EF;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 6rem;
}

header {
  background-color: #223239;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: nav-load 300ms ease-out forwards;
          animation: nav-load 300ms ease-out forwards;
}

header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header .logo {
  text-transform: uppercase;
  font-weight: bold;
}

header .logo span {
  color: #F4A722;
}

header li {
  margin-left: 4rem;
}

header li a:hover {
  color: #F4A722;
}

header a {
  color: #EEF4EF;
}

.hero {
  background-color: #90A9A8;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: hero-load 700ms 310ms ease-out forwards;
          animation: hero-load 700ms 310ms ease-out forwards;
}

.hero h1 {
  color: #223239;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.hero .info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-design {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero img {
  width: 80%;
}

.about-me .about {
  width: 50%;
}

.about-me .about p.bio, .about-me .about a.project {
  color: #223239;
  padding-right: 5rem;
  margin-bottom: 5rem;
  font-size: 1.4rem;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: about-content-load 300ms 1340ms ease-out forwards;
          animation: about-content-load 300ms 1340ms ease-out forwards;
}

.about-me h2 {
  color: #AD4F3F;
  margin-bottom: 1rem;
  font-weight: normal;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: about-subhead-load 300ms 1020ms ease-out forwards;
          animation: about-subhead-load 300ms 1020ms ease-out forwards;
}

.about-me .skills-cta .inner {
  margin-left: 5rem;
}

.about-me .skill {
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(34, 50, 57, 0.2);
  padding: 0.4rem 1rem;
  margin-bottom: .5rem;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: about-content-load 300ms 1340ms ease-out forwards;
          animation: about-content-load 300ms 1340ms ease-out forwards;
}

.about-me .skill p {
  display: inline;
  color: #223239;
  font-weight: bold;
  font-size: 1.2rem;
}

.projects {
  background-color: #223239;
}

.projects .container {
  display: block;
  padding-right: 0;
  padding-left: 0;
}

.projects h2.subhead {
  color: #90A9A8;
  margin-bottom: 2.5rem;
  margin-left: 6rem;
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-animation: project-cta-load 300ms 1340ms ease-out forwards;
          animation: project-cta-load 300ms 1340ms ease-out forwards;
}

.projects a.project-name {
  display: block;
  color: #F4A722;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: .8rem;
}

.projects h3 {
  color: #AD4F3F;
  font-weight: normal;
}

.projects .project-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-animation: project-cta-load 300ms 1340ms ease-out forwards;
          animation: project-cta-load 300ms 1340ms ease-out forwards;
}

.projects .project-cta .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

.projects .project-cta .project-info .project__inner {
  padding-left: 6rem;
  padding-right: 3rem;
}

.projects .project-cta .project-info .project-details {
  width: 100%;
  color: #EEF4EF;
  margin-bottom: 2.5rem;
}

.projects .project-cta .project-info .project-note {
  color: #90A9A8;
}

.projects .project-cta .skill {
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(144, 169, 168, 0.35);
  padding: 0.4rem 1rem;
  margin-bottom: .5rem;
}

.projects .project-cta .skill p {
  display: inline;
  color: #223239;
  font-weight: bold;
  font-size: 1.2rem;
}

.projects .project-cta .project-screenshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
  width: 50%;
}

.projects .project-cta .project-screenshot img {
  width: 100%;
}

.projects .project-cta.project-cta-fliped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects .project-cta.project-cta-fliped .project-info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects .project-cta.project-cta-fliped .project-info .project__inner {
  padding-left: 3rem;
  padding-right: 6rem;
}

.projects .project-cta.project-cta-fliped .project-screenshot {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer {
  background-color: #223239;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: footer-load 300ms 1660ms ease-out forwards;
          animation: footer-load 300ms 1660ms ease-out forwards;
}

footer .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

footer p {
  color: #EEF4EF;
  display: inline;
  font-weight: bold;
}

footer p span {
  color: #F4A722;
}

@media screen and (max-width: 1360px) {
  :root {
    font-size: .85rem;
  }
}

@media screen and (max-width: 1055px) {
  :root {
    font-size: .75rem;
  }
}

@media screen and (max-width: 980px) {
  :root {
    font-size: .7rem;
  }
}

@media screen and (max-width: 870px) {
  :root {
    font-size: .65rem;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: .6rem;
  }
}

@media screen and (max-width: 765px) {
  :root {
    font-size: .55rem;
  }
}

@media screen and (max-width: 675px) {
  :root {
    font-size: .55rem;
  }
  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero .info {
    width: 100%;
  }
  .hero .hero-design {
    width: 100%;
  }
  .hero img {
    width: 80%;
  }
  .about-me .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about-me .about {
    width: 100%;
  }
  .about-me .about p.bio, .about-me .about a.project {
    padding-right: 0;
  }
  .about-me .skills-cta .inner {
    margin-left: 0;
  }
  .projects h2.subhead {
    text-align: center;
    margin-left: 0rem;
  }
  .projects .project-cta {
    display: block;
  }
  .projects .project-cta .project-info {
    width: 100%;
    margin-bottom: 6rem;
  }
  .projects .project-cta .project-info .project__inner {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .projects .project-cta .project-screenshot {
    width: 100%;
  }
  .projects .project-cta.project-cta-fliped {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .project-cta.project-cta-fliped .project-info {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .project-cta.project-cta-fliped .project-info .project__inner {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .projects .project-cta.project-cta-fliped .project-screenshot {
    width: 100%;
  }
  footer .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  footer p {
    text-align: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 445px) {
  :root {
    font-size: .45rem;
  }
}

@media screen and (max-width: 350px) {
  :root {
    font-size: .35rem;
  }
}
/*# sourceMappingURL=main.css.map */