@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './Colors/pallete-generator.scss';

body {
    background-color: $c-neutral-500;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.--flex-fill-half {
    flex: 1;
}

//================================================================
.divider-bar {
    background-color: $c-primary-var-500;
    height: 2px;
    width: 95%;
    margin: auto;
    box-shadow: 0 1px 2.5px;

}

.header {
    background-color: $c-neutral-500; 

    .header__container {
        display: flex;
        padding: 2rem 6rem;
        justify-content: space-between;
        font-size: 1.3rem;
    }
    .header__logo {
        text-transform: uppercase;
        font-weight: bold;
        color: $c-secondary-500;
        .header__logo--color-primary {
            color: $c-primary-500;
        }
    }
    .header__ul {     
        display: inline; 
        .header__li {
            display: inline;
            margin-left: 4rem;
            .header__download-cv-btn:hover {
                color: $c-primary-500;
            }
        }
    }
    .header__download-cv-btn {
        color: $c-secondary-500;
    }
}

.hero{
    background-color: $c-neutral-500;
    .hero__container {
        display: flex;
        padding: 5rem 6rem;
    }
    .hero__txt {
        color: $c-secondary-500;
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }
    .hero__info {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .hero__design { 
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero__design__img { 
        width: 80%;
        filter: drop-shadow(0 0 1rem $c-secondary-900);
    }
}

.about {
    
    background-color: $c-neutral-500;
    .about__container {
        display: flex;
        justify-content: space-between;
        .about__container__item {
            flex: 1;
            padding: 5rem 6rem;
        }
    }
}

.info {
    .info__bio{
        color: $c-secondary-500;
        font-size: 1.4rem;
    }
    .info__subhead {
        color: $c-primary-500;
        margin-bottom: 1rem;
        font-weight: bold;
    }
}
.info--dark-backround {
    .info__bio{
        color: $c-neutral-500;
    }
    .info__subhead {
        color: $c-primary-500;
    }
}

.skills {
    .skills__subhead {
        color: $c-primary-500;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .skills__item {
        display: inline-block;
        border-radius: 15px;
        background-color: rgba($color: $c-secondary-500, $alpha: .2);
        .skills__item-txt {
            display: inline;
            color: $c-secondary-500;
            font-weight: bold;
            font-size: 1.2rem;
        }
        padding: 0.4rem 1rem;
        margin-bottom: .5rem;
    }

    .skills__item--dark-background {
        display: inline-block;
        border-radius: 15px;
        background-color: rgba($color: #90A9A8, $alpha: .35);
        p {
            display: inline;
            color: $c-secondary-500;
            font-weight: bold;
            font-size: 1.2rem;
        }
        padding: 0.4rem 1rem;
        margin-bottom: .5rem;
    }
}


.projects {
    .projects__title {
        margin-left: 6rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        font-weight: bold;
        color: $c-secondary-500;
    }
    background-color: $c-neutral-500;
    .projects__container {
        display: block;
        padding: 5rem 0rem;
    }

    .projects__subhead {
        color: $c-primary-500;
        margin-bottom: 2.5rem;
        margin-left: 6rem;
    }

    .project {
        display: flex;
        margin-bottom: 6rem;
        
        .project__info {
            display: flex;
            justify-content: flex-start;
            width: 50%; 
           
            .project__info__container {
                padding-left: 6rem;
                padding-right: 3rem;
            }

            .project__name {
                display: block;
                color: $c-primary-500;
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: .8rem;
            }

            .project__details {
                width: 100%;
                color: $c-secondary-500;
                margin-bottom: 2.5rem;
            }

            .project__note {
                color: $c-secondary-var-500;
                margin-bottom: 2rem;
            }
        }
        
        .project__screenshot {
            display: flex;
            align-items: flex-start;
            height: auto;
            width: 50%;
            
            .project__screenshot__img {
                width: 100%;
            }
        }
    }

    .project--fliped {
        flex-direction: row-reverse;

        .project__info {
            justify-content: flex-end;
            .project__info__container {
                padding-left: 3rem;
                padding-right: 6rem;
            }
        }
        .project__screenshot {
            justify-content: flex-start;
        }
    }

    
}

//================================================================


.footer {
    background-color: $c-primary-var-500;
    .footer__container {
        display: flex;
        padding: 2rem 6rem;
    }
    .footer__ul {
        display: flex;
        gap: 2rem;
    }
    .footer__p {
        color: $c-neutral-500;
        display: inline;
        font-weight: bold;
        span {
            color: $c-primary-500;
        } 
    }
}

.working-on-rn {
    background-color: $c-neutral-500;

    .working-on-rn__container {
        display: flex;
        justify-content: space-between;
        padding: 5rem 6rem;
    }
}

.my-workflow {
    background-color: $c-primary-var-500;
    .my-workflow__container {
        padding: 5rem 6rem;
    }
}

.my_list {
    .my_list__title {
        color: $c-neutral-500;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .my_list__content {
        position: relative;
        margin-top: .3rem;
        padding: .2rem 1.4rem;
        padding-bottom: 1rem;
        .my_list__content-bar {
            position: absolute;
            left: 2rem;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: $c-neutral-500;
            width: 1px;
            height: 98%;
            box-shadow: 0px 0px 1.5px;
        }
    }
    .my_list__item {
        
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 3.5rem;
        .my_list__item__subhead {
            color: $c-primary-500;
            font-size: 1.4rem;
            font-weight: bold;
        }
        .my_list__item__content {
            color: $c-neutral-500;
            font-size: 1.4rem;
            margin-top: .3rem;
            position: relative;
            padding: .3rem 3rem;
            .my_list__item__content--bold {
                font-weight: bold;
            }
            .my_list__item__content-bar {
                position: absolute;
                left: 1.2rem;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: $c-primary-500;
                width: 1px;
                height: 100%;
                box-shadow: 0px 0px 1.5px;
            }
        }
    }
}


@media screen and (max-width: 1360px) {

    :root {
        font-size: .85rem;
    }
}

@media screen and (max-width: 1055px) {

    :root {
        font-size: .75rem;
    }
}

@media screen and (max-width: 980px) {

    :root {
        font-size: .7rem;
    }
}

@media screen and (max-width: 870px) {

    :root {
        font-size: .65rem;
    }
}

@media screen and (max-width: 800px) {

    :root {
        font-size: .6rem;
    }
}

@media screen and (max-width: 765px) {

    :root {
        font-size: .55rem;
    }
}


@media screen and (max-width: 675px) {

    :root {
        font-size: .55rem;
    }
    
    .hero {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .info {
            width: 100%;
        }
        .hero-design {
            width: 100%;
        }
        img { 
            width: 80%;
        }
    }

    .info {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .about {
            width: 100%;
    
            p.bio, a.project {
                padding-right: 0;
            }
        }
    
        .skills-cta {
            .inner {
                margin-left: 0;
            }
        }
    }

    .projects {
        h2.subhead {
            text-align: center;
            margin-left: 0rem;
            
        }
        .project-cta {
            display: block;
            .project-info {
                width: 100%;
                margin-bottom: 6rem;
                .project__inner {
                    padding-left: 6rem;
                    padding-right: 6rem;
                }
            }
            .project-screenshot {
                width: 100%;
            }
        }
        
        .project-cta.project-cta-fliped {
            flex-direction: column;
            .project-info {
                width: 100%;
                justify-content: center;
                .project__inner {
                    padding-left: 6rem;
                    padding-right: 6rem;
                }
            }
            .project-screenshot {
                width: 100%;
            }
        }
    }

    .footer {
        .footer__container {
            justify-content: center;
        }
        .footer__ul {
            display: flex;
            gap: 2rem;
        }
        .footer__p {
            text-align: center;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 445px) {

    :root {
        font-size: .45rem;
    }
}

@media screen and (max-width: 350px) {

    :root {
        font-size: .35rem;
    }
}