@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


// Animations-----------------------------------------------------
@keyframes nav-load {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {  
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hero-load {
    0% {
        transform: translateX(-100%);
    }
    100% {  
        transform: translateX(0);
    }
}

@keyframes about-subhead-load {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {  
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes about-content-load {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {  
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes project-cta-load {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {  
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes footer-load {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {  
        opacity: 1;
        transform: translateX(0);
    }
}


body {
    background-color: #EEF4EF;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: 5rem 6rem;
}

header {
    background-color: #223239;
    
    .container {
        justify-content: space-between;
        font-size: 1.3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .logo {
        text-transform: uppercase;
        font-weight: bold;
        span {
            color: #F4A722;
        }
    }
    li {
        margin-left: 4rem;
        a:hover {
            color: #F4A722;
        }
    }
    a {
        color: #EEF4EF;
    }

    opacity: 0;
    transform: translateY(-100%);
    animation: nav-load 300ms ease-out forwards;
}

.hero{
    background-color: #90A9A8;

    h1 {
        color: #223239;
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }
    .info {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .hero-design { 
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img { 
        width: 80%;
    }

    transform: translateX(-100%);
    animation: hero-load 700ms 310ms ease-out forwards;
}

.about-me {

    .about {
        width: 50%;

        p.bio, a.project {
            color: #223239;
            padding-right: 5rem;
            margin-bottom: 5rem;
            font-size: 1.4rem;
                    
            opacity: 0;
            transform: translateX(-100%);
            animation: about-content-load 300ms 1340ms ease-out forwards;
        }
    }

    h2 {
        color: #AD4F3F;
        margin-bottom: 1rem;
        font-weight: normal;
        
        opacity: 0;
        transform: translateY(-100%);
        animation: about-subhead-load 300ms 1020ms ease-out forwards;
    }
    .skills-cta {
        .inner {
            margin-left: 5rem;
        }
    }
    .skill {
        display: inline-block;
        border-radius: 15px;
        background-color: rgba($color: #223239, $alpha: .2);
        p {
            display: inline;
            color:#223239;
            font-weight: bold;
            font-size: 1.2rem;
        }
        padding: 0.4rem 1rem;
        margin-bottom: .5rem;
        
        opacity: 0;
        transform: translateX(-100%);
        animation: about-content-load 300ms 1340ms ease-out forwards;
    }

}

.projects {
    background-color: #223239;
    .container {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }

    h2.subhead {
        color: #90A9A8;
        margin-bottom: 2.5rem;
        margin-left: 6rem;
    }

    a.project-name {
        display: block;
        color: #F4A722;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }

    h3 {
        color: #AD4F3F;
        font-weight: normal;
    }

    .project-cta {
        display: flex;
        margin-bottom: 5rem;
        margin-left: 6rem;
        .project-info {
            width: 50%;

            .project-details {
                width: 90%;
                color: #EEF4EF;
                margin-bottom: 2.5rem;
            }
            .project-note {
                color: #90A9A8;
            }
        }
        
        .skill {
            display: inline-block;
            border-radius: 15px;
            background-color: rgba($color: #90A9A8, $alpha: .35);
            p {
                display: inline;
                color:#223239;
                font-weight: bold;
                font-size: 1.2rem;
            }
            padding: 0.4rem 1rem;
            margin-bottom: .5rem;
        }
        .project-screenshot {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            img {
                width: 100%;
            }
        }
        opacity: 0;
        transform: translateY(-20%);
        animation: project-cta-load 300ms 1340ms ease-out forwards;
    }

    .project-cta.project-cta-fliped {
        flex-direction: row-reverse;
        
        margin-left: 0rem;
        .project-info {
            margin-left: 6rem;
        }
        .project-screenshot {
            justify-content: flex-start;
        }
    }

    
}

footer {
    background-color: #223239;
    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    ul {
        display: flex;
        gap: 2rem;
    }
    p {
        color: #EEF4EF;
        display: inline;
        font-weight: bold;
        span {
            color: #F4A722;
        } 
    }
    
    opacity: 0;
    transform: translateX(-100%);
    animation: footer-load 300ms 1660ms ease-out forwards;
}

@media screen and (max-width: 1360px) {

    :root {
        font-size: .85rem;
    }
}

@media screen and (max-width: 1055px) {

    :root {
        font-size: .75rem;
    }
}

@media screen and (max-width: 870px) {

    :root {
        font-size: .65rem;
    }
}

@media screen and (max-width: 725px) {

    :root {
        font-size: .55rem;
    }
}

@media screen and (max-width: 610px) {

    :root {
        font-size: .55rem;
    }
    
    .hero {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .info {
            width: 100%;
        }
        .hero-design {
            width: 100%;
        }
        img { 
            width: 80%;
        }
    }

    .about-me {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .about {
            width: 100%;
    
            p.bio, a.project {
                padding-right: 0;
            }
        }
    
        .skills-cta {
            .inner {
                margin-left: 0;
            }
        }
    }

    footer {
        .container {
            justify-content: center;
        }
        ul {
            display: flex;
            gap: 2rem;
        }
        p {
            text-align: center;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 445px) {

    :root {
        font-size: .45rem;
    }
}

@media screen and (max-width: 350px) {

    :root {
        font-size: .35rem;
    }
}