@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-button {
  cursor: pointer;
  border: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
}

.my-button .my-button__txt {
  pointer-events: none;
  padding: 0;
  margin: 0;
}

.my-button--small {
  font-size: 0.8rem;
}

.my-button--normal {
  font-size: 1rem;
}

.my-button--large {
  font-size: 1.2rem;
}

.my-button--round-corners {
  border-radius: 5px;
}

.my-button--primary {
  background-color: #E9663C;
  color: #DBD2C7;
}

.my-button--primary:hover {
  background-color: #e65425;
}

.my-button--primary:active {
  background-color: #d94719;
}

.my-button--secondary {
  background-color: #253D56;
  color: #DBD2C7;
}

.my-button--secondary:hover {
  background-color: #1d3044;
}

.my-button--secondary:active {
  background-color: #162432;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-divider {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-divider .my-divider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent;
}

.my-divider .my-divider__item--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.my-divider .my-divider__item--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.my-divider .my-divider__item--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-divider .my-divider__item--column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.my-divider--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.my-divider--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.my-divider--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-divider--column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-list .my-list__title {
  color: red;
  font-weight: bold;
}

.my-list .my-list__content {
  position: relative;
  margin-top: .3rem;
  padding: .2rem 1.4rem;
  padding-bottom: 1rem;
}

.my-list .my-list__content .my-list__content-bar {
  position: absolute;
  left: .9rem;
  top: 0;
  background-color: red;
  width: 1px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 1.5px;
          box-shadow: 0px 0px 1.5px;
}

.my-list .my-list__item {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
}

.my-list .my-list__item .my-list__item__subhead {
  color: cadetblue;
  font-weight: bold;
}

.my-list .my-list__item .my-list__item__content {
  margin-top: .3rem;
  position: relative;
  padding: .3rem 2rem;
}

.my-list .my-list__item .my-list__item__content .my-list__item__content-bar {
  position: absolute;
  left: .8rem;
  top: 0;
  background-color: cadetblue;
  width: 1px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 1.5px;
          box-shadow: 0px 0px 1.5px;
}

.my-list--primary .my-list__title {
  color: #707E75;
}

.my-list--primary .my-list__content .my-list__content-bar {
  background-color: #707E75;
}

.my-list--primary .my-list__item .my-list__item__subhead {
  color: #E9663C;
}

.my-list--primary .my-list__item .my-list__item__content {
  color: #707E75;
}

.my-list--primary .my-list__item .my-list__item__content .my-list__item__content-bar {
  background-color: #E9663C;
}
/*# sourceMappingURL=homepage.css.map */