@import './fonts/fonts.scss';

$font-size-XXL: 2rem;
$font-size-XL: 1.5rem;
$font-size-L: 1.2rem;
$font-size-N: 1rem;
$font-size-S: .8rem;
$font-size-XS: .5rem;
$font-size-XXS: .2rem;

$testing-padding: 1rem;

$white-space-01: 4rem;
$white-space-02: 2rem;

//ANIMATIONS-----------------------------------------------------
$load-animation-ms: 500ms;
$hero-deisgn-hover: 1200ms;
$animation-speed-M: 350ms;

//--------------------------------------------------------------------------------
