$c-primary: #E9663C;
$c-primary-var: #5E4039;

$c-secondary: #253D56;
$c-secondary-var: #4A989A;

$c-neutral: #DBD2C7;
$c-neutral-var: #707E75;

$c-background: #DBD2C7;

$c-error: red;
$c-warning: yellow;
$c-info: gray;
