@use '../scss/pallete-generator.scss';
@use '../scss/confiq.scss';

.my-divider {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    .my-divider__item {
        display: flex;
        flex: 1;
        background-color: transparent;
    }

    .my-divider__item--row {
        flex-direction: row;
    }
    .my-divider__item--row-reverse {
        flex-direction: row-reverse;
    }
    .my-divider__item--column {
        flex-direction: column;
    }
    .my-divider__item--column-reverse {
        flex-direction: column-reverse;
    }
}

.my-divider--row {
    flex-direction: row;
}
.my-divider--row-reverse {
    flex-direction: row-reverse;
}
.my-divider--column {
    flex-direction: column;
}
.my-divider--column-reverse {
    flex-direction: column-reverse;
}